/* Paleta de colores principal */
:root {
    --sky-blue: #2FC1FF;
    --picton-blue: #009bdf;
    --rich-black: #101218;
    --outer-space: #4c5253;
    --anti-flash-white: #F3F6F6;
    --smooth-gray: #758398;
}