/* Barlow Semi Condensed font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Playfair display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Paleta de colores */
@import url('colores.css');


/** ESTILOS POR DEFECTO DEL ELEMENTO NAVBAR **/
.saltar-contenido {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
    border: 0;
    font-weight: 400;
    font-size: 1em;
    background-color: transparent;
}

.saltar-contenido:focus {
    background-color: #ddd;
    color: #444;
    display: block;
    height: auto;
    width: auto;
    left: 5px;
    top: 5px;
    padding: 15px 23px 14px;
    z-index: 10000;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

nav {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    background-color: transparent;
    z-index: 50;
}

.navbar-brand {
    /* font-family: 'Playfair Display', serif; */
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--picton-blue);
    font-size: 18px;
    text-transform: uppercase;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--picton-blue);
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: var(--rich-black);
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: .4s all ease;
}

.nav-link:after {
    content: "";
    position: absolute;
    background-color: var(--picton-blue);
    height: 3px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    transition: .4s all ease;
}

.nav-link:hover {
    color: var(--picton-blue);
    transition: .4s all ease;
}

.nav-link:hover:after {
    width: 100%;
}

.navbar .show ul {
    background-color: var(--anti-flash-white);
    margin-top: 20px;
}

.navbar .show ul li {
    padding: 15px 0;
    border: 1px solid #eaeaea;
}

.navbar .show ul li a {
    text-transform: none;
    font-size: 1rem;
    text-align: center;
}


@media (max-width: 992px) {
    .nav-link {
        text-align: right;
    }

    .nav-link:hover:after {
        width: 0%;
    }
}